<% include ../partials/header %>
<div class="pusher">
<% include ../partials/accountNavBar %>


  <div class="ui stackable grid container">
    <div class="row" style="margin-top:25px;">
      <div class="ui ten wide column align centered">
        <div class="ui grid">
          <div class="eight wide column align centered" style="padding-bottom:0px;">
             <div class="ui header">Your credit and debit cards</div>
           </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top:5px;">
        <div class="ui vertical fluid accordion menu eight wide column align centered">
          <div class="item">
              <a class="title">
                <i class="dropdown icon"></i>
                <div class="ui grid">
                  <div class="row">
                    <div class="three wide column">
                    <i class="visa icon big" aria-hidden="true"></i>
                    </div>
                    <div class="five wide column">
                    Ending in *4323
                    </div>
                    <div class="five wide column">
                    Expires 02/22/22
                    </div>
                  </div>
                </div>
              </a>
            <div class="content">
              <div class="ui grid">
                <div class="two column row">
                  <div class="column">
                    <div class="ui tiny header">
                      Name on Card
                    </div>
                      <div class="ui content">
                      John Doe
                      </div>
                    </div>
                  <div class="column">
                    <div class="ui tiny header">
                    Billing Address
                  </div>
                    <div class="ui content">
                    1111 Main Street. New York, NY 21001
                  </div>
                  </div>
                  <div class="column"></div>
                  <div class="column">
                    <div class="action items" style="margin-top:15px;">
                      <button class="ui secondary button delete">Delete</button>
                      <button class="ui primary button edit">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
              <a class="title">
                <i class="dropdown icon"></i>
                <div class="ui grid">
                  <div class="row">
                    <div class="three wide column">
                    <i class="mastercard icon big" aria-hidden="true"></i>
                    </div>
                    <div class="five wide column">
                    Ending in *532
                    </div>
                    <div class="five wide column">
                    Expires 09/12/18
                    </div>
                  </div>
                </div>
              </a>
            <div class="content">
              <div class="ui grid">
                <div class="two column row">
                  <div class="column">
                    <div class="ui tiny header">
                      Name on Card
                    </div>
                      <div class="ui content">
                      Jane Doe
                      </div>
                    </div>
                  <div class="column">
                    <div class="ui tiny header">
                    Billing Address
                  </div>
                    <div class="ui content">
                    1111 Main Street. New York, NY 21001
                  </div>
                  </div>
                  <div class="column"></div>
                  <div class="column">
                    <div class="action items" style="margin-top:15px;">
                      <button class="ui secondary button delete">Delete</button>
                      <button class="ui primary button edit">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
              <a class="title">
                <i class="dropdown icon"></i>
                <div class="ui grid">
                  <div class="row">
                    <div class="three wide column">
                    <i class="amex icon big" aria-hidden="true"></i>
                    </div>
                    <div class="five wide column">
                    Ending in *3743
                    </div>
                    <div class="five wide column">
                    Expires 12/22/19
                    </div>
                  </div>
                </div>
              </a>
            <div class="content">
              <div class="ui grid">
                <div class="two column row">
                  <div class="column">
                    <div class="ui tiny header">
                      Name on Card
                    </div>
                      <div class="ui content">
                      Mike Jones
                      </div>
                    </div>
                  <div class="column">
                    <div class="ui tiny header">
                    Billing Address
                  </div>
                    <div class="ui content">
                    1111 Main Street. New York, NY 21001
                  </div>
                  </div>
                  <div class="column"></div>
                  <div class="column">
                    <div class="action items" style="margin-top:15px;">
                      <button class="ui secondary button delete">Delete</button>
                      <button class="ui primary button edit">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
              <a class="title">
                <i class="dropdown icon"></i>
                <div class="ui grid">
                  <div class="row">
                    <div class="three wide column">
                    <i class="discover icon big" aria-hidden="true"></i>
                    </div>
                    <div class="five wide column">
                    Ending in *2342
                    </div>
                    <div class="five wide column">
                    Expires 07/15/18
                    </div>
                  </div>
                </div>
              </a>
            <div class="content">
              <div class="ui grid">
                <div class="two column row">
                  <div class="column">
                    <div class="ui tiny header">
                      Name on Card
                    </div>
                      <div class="ui content">
                      John Doe
                      </div>
                    </div>
                  <div class="column">
                    <div class="ui tiny header">
                    Billing Address
                  </div>
                    <div class="ui content">
                    1111 Main Street. New York, NY 21001
                  </div>
                  </div>
                  <div class="column"></div>
                  <div class="column">
                    <div class="action items" style="margin-top:15px;">
                      <button class="ui secondary button delete">Delete</button>
                      <button class="ui primary button edit">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    </div>
  </div>

</div>

<script>
  $('.ui.accordion')
  .accordion()
;
</script>




 