
<div class="accountNavBar">
<div class="ui vertical segment" style="background-color:#fcfcfc;">
  <div class="main ui grid container center aligned">
      <div class="four wide column">
        <h3 class="ui icon header">
        <a href="/myaccount/checkout"><i class="circular shipping cart icon" aria-hidden="true"></i></a>
        Cart
      </h3>
      </div>
      <div class="four wide column">
        <h3 class="ui icon header">
        <a href="/myaccount/wallet"><i class="circular credit card icon" aria-hidden="true"></i></a>
        Wallet
      </h3>
      </div>
      <div class="four wide column">
        <h3 class="ui icon header">
        <a href="/myaccount/activity"><i class="circular list icon" aria-hidden="true"></i></a>
        Activities
      </h3>
      </div>
      <div class="four wide column">
        <h3 class="ui icon header">
        <a href="/myaccount/settings"><i class="circular settings icon" aria-hidden="true"></i></a>
        Settings
      </h3>
      </div>
  </div>
</div>
</div>

