<html>
  <head>
    <meta charset="utf-8">
    <title>Magic</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/modal.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
  </head>
<body style="background-color:#f5f7fa;" id="body-header">
  
    <!-- Following Menu -->
<div class = "ui large top fixed hidden menu" id="landing-header">
      <div class="ui container">
          <div class="header item">
             <i class="angellist icon"></i>
              Magic
          </div>
            <a class="item">Personal</a>
            <a class="item">Merchant Portal</a>
            <div class="right menu">
                <div class="item">
                 <a class="ui button" href="/signin">Log in</a>
                </div>
                <div class="item">
                 <a class="ui button" href="/signup/user">Sign Up</a>
                </div>
            </div>
      </div>
    </div>
    
    
    <!-- Sidebar Menu -->

<div class="ui vertical sidebar menu">
  <span class="header item"><i class="code icon"></i> Magic</span>
  <a class="item">Personal Accounts</a>
  <a class="item">Business Accounts</a>
  <a class="item">FAQS</a>
</div>



    <!--Top Menu-->
<div class="ui center aligned segment" style="margin: 0;">
    <div class="ui container">
      <div class="ui large secondary pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="/">
        <div class="header item">
            <i class="angellist icon"></i>
             Magic
          </div>
        </a>
        <% if(!currentUser){ %>
        <a class="item">Personal</a>
        <a class="item">Business</a>
        <div class="right item">
          <a class="ui button" href="/signin" style="margin-right: 10px;">Log in</a>
          <a class="ui button" href="/signup/user">Sign Up</a>
        </div>
        <% } else { %>
          <div class="right item">
            <a class="ui button" href="/signout">Log Out</a>
          </div>
          <% } %>
      </div>
    </div>
      <% if((error && error.length > 0) || (success && success.length > 0)) { %>
        <div class="ui segment">
          <% if(error.length > 0) {%>
            <div class="ui red floating message">
                <h3><%= error %></h3>
            </div>
          <% } %>
           <% if(success.length > 0) {%>
            <div class="ui green floating message">
                <h3><%= success %></h3>
            </div>
            <% } %>
        </div>
      <% } %>
</div>


<script>
   $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>
  