<% include ./partials/header %>
    
<div class="pusher" id="registerPusher">
    
<!--**************************USER SIGN UP**************************************-->
<div class="ui raised text container segment registration" style="width: 35%;">
  <div class="ui first register">
    <div class="header">
      <label for="accountType"><h2 class="ui header blue centered">Let's create your account!</h2></label>
      <h3 class = "ui header centered">Signing up is simple and free</h3>
    </div> 
    <!--ends header-->
    
    <!--starts content-->
    <div class="ui middle aligned center aligned grid">
      <div class="column forModel">
        <form class="ui large form" action="/signup/user" method="POST">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="email" name="username" placeholder="E-mail address">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="passwordConfirm" placeholder="Confirm Password">
              </div>
            </div>
            <div class="inline fields">
              <label for="accountType">Select your account type:</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="personalAccount" tabindex="0" class="hidden" checked>
                    <label>Personal</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="businessAccount" tabindex="0" class="hidden">
                    <label>Business</label>
                  </div>
                </div>
            </div>
              <div class="actions">
                <button class="ui primary submit button" style="width:90%">
                  Next
                  <i class="angle right icon"></i>
                </button>
              </div>
          </div>
          <div class="ui error message"></div>
        </form>
        <div class="ui message">
          Already a member?  <a href="#">Login</a>
        </div>
      </div>
    </div>
</div>
</div>

</div>
<script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
 

$('.ui.radio.checkbox')
  .checkbox()
;
</script>
<% include ./partials/footer %>