

.ui.segment:first-child {
  margin-top: 5%;
  
}


.column.forModel {
max-width: 450px;
    }

.content {
  margin-top: 10px;
}

.ui.message:last-child {
  margin-bottom: 15px;
}



.ui.second .actions {
  margin: 20px;
}


.ui.stacked.segment:after {
  border: none;
  background: none;
}


#registerPusher {
    background-image: url("https://images.unsplash.com/photo-1456982517712-a381d29cff14?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=");
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position-y: 40%;
    width: 100vw;
    min-height: 100vh;
  }
