.modal {
      background-color: #DADADA;
    }
.modal > .grid {
      height: 100%;
    }
.image {
      margin-top: -100px;
    }
.column.forModel {
max-width: 450px;
    }

.content {
  margin-top: 10px;
}

.ui.message:last-child {
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
.ui.modal {
    width: 600px;
    margin: 0 0 0 -300px;
  }
}

.ui.second .actions {
  margin: 20px;
}


.ui.stacked.segment:after {
  border: none;
  background: none;
}